<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personnel.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.personnel.model.bean.UserInfo">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="qyWechatKey" column="qy_wechat_key" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="userSource" column="user_source" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,name,qy_wechat_key,
        phone,user_source
    </sql>
</mapper>
